{{define "head"}}
{{end}}

{{define "title"}}
Info
{{end}}

{{define "body"}}
<pre id="infoPlace" style="background-color:#f0f8ff">
</pre>
<!-- <div class="table-wrap">
    
     <table class="inverted ui celled table">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Profit on closed orders</th>
                <th>Deposit amount</th>
                <th>Amount in orders</th>
                <th>Profit on all orders</th>
                <th>Deposit history</th>
            </tr>
        </thead>
        <tbody id="UsersDataTable"></tbody>
    </table> 
</div>-->
{{end}}
{{define "scripts"}}
<script src="/static/fetchData.js"></script>
<script src="/static/infoPage.js"></script>
<script type="text/javascript">
</script>
{{end}}